/**
 * Buttons
 * ========================================================
 */
.alert {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  /* Hackable. */
  background-color: var(--alert-bg-color);
}

.alert .close {
  background: transparent;
  border: 0;
  font-size: 1.4rem;
  line-height: 1.3rem;
  float: right;

  /* Hackable. */
  color: var(--alert-close-button-color);
}
