/**
 * Lists
 * ========================================================
 */
.list-group {
  list-style-type: none;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;

  /* Hackable. */
  border: 1px solid var(--list-item-border-color);
}
.list-group-item {
  padding: 0.75rem;
  /* Hackable. */
  border-bottom: 1px solid var(--list-item-border-color);
}
.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:hover {
  /* Hackable. */
  background-color: var(--list-item-hover-color);
}
.list-group-item.disabled {
  pointer-events: none;

  /* Hackable. */
  background-color: var(--list-item-disable-bg-color) !important;
  opacity: var(--list-item-disable-opacity);
}
.list-group-item.active {
  /* Hackable. */
  background-color: var(--list-item-active-color);
}

.list-group-item h2,
.list-group-item h3,
.list-group-item h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.list-group-item p {
  margin: 0;
}

/**
 * Optional supportive design - make list rounded using .rounded class.
 */
.list-group.rounded {
  border-radius: 0.5rem;
}
.list-group.rounded li:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.list-group.rounded li:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
