/**
 * Lists
 * ========================================================
 */
.list-group {
  list-style-type: none;
  margin: .5rem 0 .5rem 0;
  padding: 0;

  /**
   * Following item is hackable.
   */
  border: 1px solid #e2e8f0;
}
.list-group-item {
  padding: .75rem;
  /**
   * Following item is hackable.
   */
  border-bottom: 1px solid #e2e8f0;
}
.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:hover {
  /**
   * Following item is hackable.
   */
  background-color: #e2e8f0;
}
.list-group-item.disabled {
  pointer-events: none;
  background-color: #fff !important;

  /**
   * Following item is hackable.
   */
  opacity: .7;
}
.list-group-item.active {
  /**
   * Following item is hackable.
   */
  background-color: #e2e8f0;
}

.list-group-item h2,
.list-group-item h3,
.list-group-item h4 {
  margin: 0;
  margin-bottom: .5rem;
}
.list-group-item p {
  margin: 0;
}


/**
 * Optional supportive design - make list rounded using .rounded class.
 */
.list-group.rounded {
  border-radius: .5rem;
}
.list-group.rounded li:first-child {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.list-group.rounded li:last-child {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}


/*


<!-- Example: 1 - Simple list group -->
<ul class="list-group">
  <li class="list-group-item active">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
  </li>
  <li class="list-group-item disabled">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
  <li class="list-group-item">Ut enim ad minim veniam, quis nostrud exercitation</li>
</ul>


<!-- Example: 2 - List group with content -->
<ul class="list-group rounded">
  <li class="list-group-item active">
    <h3>Lorem ipsum</h3>
    <p>
      dolor sit amet, consectetur adipiscing elit
    </p>
  </li>
  <li class="list-group-item disabled">
    <h2>sed do eiusmod</h2>
    <p>tempor incididunt ut labore et dolore magna aliqua
    </p>
  </li>
  <li class="list-group-item">Ut enim ad minim veniam, quis nostrud exercitation</li>
</ul>

*/