/**
 * Navigations
 * ========================================================
 */
.nav {
  display: flex;

  /* Hackable. */
  min-height: var(--nav-height);
  background-color: var(--nav-bg-color);
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-left {
  justify-content: flex-start;
}
.nav-center {
  justify-content: center;
}
.nav-right {
  justify-content: flex-end;
}

.nav-item {
  /* Hackable. */
  padding: var(--nav-item-padding);
  color: var(--nav-item-color);
}
.nav-active {
  /* Hackable. */
  color: var(
    --nav-active-item-color
  ); /* Added !important. Because, when you hover item, the active should not have that hover effect. Only other items should have. */
  text-decoration: var(--nav-hover-text-decoration);
}
.nav-item:hover {
  /* Hackable. */
  color: var(--nav-hover-item-color);
}
.nav-brand {
  /* Hackable. */
  font-size: var(--nav-brand-size);
  color: var(--nav-brand-color);
}

/**
 * Haven't think about yet on what to do with mobile screen.
 * So for now, all are stacked vertically.
 */
@media screen and (max-width: 767px) {
  .nav,
  .nav-left,
  .nav-center,
  .nav-right,
  .nav-item {
    display: block;
  }
}

/**
 * Usages
 * ========================================================

<!--Basic Nav -->
<nav class="nav">
  <div class="nav-left">
    <a href="#" class="nav-item nav-brand">Brand Name</a>
  </div>
</nav>


<!--Basic Nav 2.-->
<nav class="nav">
  <div class="nav-left">
    <a href="#" class="nav-item nav-brand">Brand Name</a>
    <a href="#" class="nav-item nav-brand">About</a>
    <a href="#" class="nav-item nav-brand">Contact</a>
  </div>
</nav>


<!--Left and Center aligned items within Nav.-->
<!--
  If you're using left and right items,
  you need to add .nav-right to centered the .nav-center
  items.
-->
<nav class="nav">
  <div class="nav-left">
    <a href="#" class="nav-item nav-brand">About</a>
    <a href="#" class="nav-item nav-brand">Contact</a>
  </div>
  <div class="nav-center"
    <a href="#" class="nav-item nav-brand">Brand Name</a>
  </div>
  <div class="nav-right"></div>
</nav>


<!--Nav with left, right, and center items.-->
<nav class="nav">
  <div class="nav-left">
    <a href="#" class="nav-item nav-brand">About</a>
    <a href="#" class="nav-item nav-brand">Contact</a>
  </div>
  <div class="nav-center"
    <a href="#" class="nav-item nav-brand">Brand Name</a>
  </div>
  <div class="nav-right">
    <a href="#" class="nav-item nav-brand">Facebook</a>
    <a href="#" class="nav-item nav-brand">Twitter</a>
  </div>
</nav>

*/
