/**
 * Typography
 * ========================================================
 */
h1,
h2,
h3,
h4,
h6 {
  font-weight: var(--header-weight);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
p,
address {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
b,
strong {
  font-weight: var(--strong-weight);
}
i,
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
a {
  color: var(--a-color);
  text-decoration: var(--a-text-decoration);
}
a:hover {
  color: --a-hover-color;
  text-decoration: var(--a-hover-text-decoration);
}
